.h1-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100px;
}
#destinations-content{
    position: relative;
    left: 20px;
    top: 200px;
}
.first-h1{
    position: relative;
    left:80px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}   